{% extends 'base.html.twig' %}

{% block body %}
	{% include "navbar/navbar.html.twig" %}
	<div class="container">
		<h1>Offre index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Image</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for offre in offres %}
					<tr>
						<td>{{ offre.id }}</td>
						<td>{{ offre.titre }}</td>
						<td>{{ offre.description }}</td>
						<td>{{ offre.prix }}</td>
						{% for image in offre.images %}
							<td>
								<img src="{{ asset('/uploads/'~image.name) }}" alt="image" width="150" class="rounded mx-auto d-block">
							</td>
						</div>
					{% endfor %}
					<td>
						<a href="{{ path('admin_app_offre_show', {'id': offre.id}) }}">show</a>
						<a href="{{ path('admin_app_offre_edit', {'id': offre.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</div>
	<div class="text-center">
		<a href="{{ path('admin_app_offre_new') }}" class="btn" style="background-color: #aaa; color: #fff;">Ajouter une offre</a>
	</div>
</div>{% endblock %}
